header{
    height: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
    /* display: flex; */
    /* align-items: center; */
}

.header .infoheader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 5vh;
}

.header .infoheader .sair{
    font-size: 10px;
    padding: 5px;
    display: flex;
}

.header .infoheader .sair a{
    color: red;
    text-decoration: none;
}

.header .section{
    width: 100%;
    background-color: #f8f8f8;
    height:95vh;
}