<div class="principal">
  <nav class="nav">
    <ul>

      <li><a routerLink=""><i class="material-icons">home</i><span>Dashboard</span></a></li>

      <li><a (click)="acionarmostrar(0)"><i class="material-icons">edit_document</i>
        <span>Orçamentos</span><i [ngClass]="mostrar[0] ? 'rotateopen' : 'rotateclose'" class="material-icons icon">chevron_right</i></a>
        <ul [ngClass]="mostrar[0] ? 'open': 'close'">
          <li><i class="material-icons icon">add</i><a routerLink="novoorcamento">Novo orçamento</a></li>
          <li><i class="material-icons">search</i><a href="">Pesquisar orçamento</a></li>
        </ul>
      </li>

      <li><a routerLink="pesquisarOrcamento"><i class="material-icons">plagiarism</i><span>Pesquisar Orçamento</span></a></li>

      <li class="li"><a (click)="acionarmostrar(2)"><i class="material-icons">list</i>
        <span>Cotaçoes</span><i [ngClass]="mostrar[2] ? 'rotateopen' : 'rotateclose'" class="material-icons icon">chevron_right</i></a>
        <ul [ngClass]="mostrar[2] ? 'open': 'close'">
          <li><i class="material-icons icon">add</i><a href=""><span>Nova cotação</span></a></li>
          <li><i class="material-icons">search</i><a href="">Pesquisar cotação</a></li>
        </ul>
      </li>

      <li><a><i class="material-icons">edit_document</i><span>Relatórios</span></a></li>

      <li><a><i class="material-icons">notifications_active</i><span>Notificações</span></a></li>

      <li><a><i class="material-icons">help</i><span>Sobre</span></a></li>
    </ul>
  </nav>

  <div class="section">
    <router-outlet></router-outlet>
  </div>
</div>
