<div class="principal">
  <nav class="nav">
    <ul>

      <li><a routerLink=""><i class="material-icons">home</i><span>Dashboard</span></a></li>

      <li><a routerLink="orcamento"><i class="material-icons">edit_document</i><span>Orçamentos</span></a></li>

      <li><a routerLink="pesquisarOrcamento"><i class="material-icons">plagiarism</i><span>Pesquisar Orçamento</span></a></li>

      <li><a routerLink="cotacoes"><i class="material-icons">list</i><span>Cotaçoes</span></a></li>

      <li><a routerLink="relatorios"><i class="material-icons">edit_document</i><span>Relatórios</span></a></li>

      <li><a routerLink="notificacoes"><i class="material-icons">notifications_active</i><span>Notificações</span></a></li>

      <li><a routerLink="sobre"><i class="material-icons">help</i><span>Sobre</span></a></li>
    </ul>
  </nav>

  <div class="section">
    <router-outlet></router-outlet>
  </div>
</div>
